# APP
APP_PORT= 3000
APP_SALT_ROUNDS= 7
APP_ACCESS_SECRET= example
APP_ACCESS_EXPIRY= 7d
APP_WHITELIST= http://example.com

# Database
DATABASE_URL= "postgresql://[user]:[password]@[netLoc]:[port]/[dbName]?schema=[schema]"

# Email
DISPOSABLE_EMAILS = x.com,y.com

# Cloudinary
CLOUDINARY_NAME= cloudinaryName
CLOUDINARY_API_KEY= 99999999999
CLOUDINARY_API_SECRET= cloudinaryAPISecret
CLOUDINARY_FOLDER= cloudinaryFolder
CLOUDINARY_DEFAULT_AVATAR= example.png/jpg/jpeg